$border-width: $big-border;
@mixin btn-light {
    @include border-light;
    background-color: $light10;
    @include color-dark;
    &:hover {
        background-color: $dark10;
        @include color-light;
    }
}

@mixin btn-dark {
    @include border-dark;
    background-color: $dark10;
    @include color-light;
    &:hover {
        background-color: $light10;
        @include color-dark;
    }
}

.btn {
    font-family: inherit;
    @include btn-light;
    padding: 0px 17px;
    cursor: pointer;
    height: 50px;
    font-weight: bold;
    font-size: inherit;
    outline: none;
    transition: .2s;
}

.btn.dark {
    @include btn-dark;
}

.btn:focus:not(.btn-link) {
    @include shadow;
}

.btn-primary {
    background-color: $primary;
    border-color: $primary;
    color: $light;
}

.btn-primary:hover:not(.btn-link) {
    background-color: $light;
    color: $primary;
}

.btn-secondary {
    background-color: $secondary;
    border-color: $secondary;
    color: $light;
}

.btn-secondary:hover:not(.btn-link) {
    background-color: $light;
    color: $secondary;
}

.btn-warning {
    background-color: $warning;
    border-color: $warning;
    color: $light;
}

.btn-warning:hover:not(.btn-link) {
    background-color: $light;
    color: $warning;
}

.btn-danger {
    background-color: $danger;
    border-color: $danger;
    color: $light;
}

.btn-danger:hover:not(.btn-link) {
    background-color: $light;
    color: $danger;
}

.btn-success {
    background-color: $success;
    border-color: $success;
    color: $light;
}

.btn-success:hover:not(.btn-link) {
    background-color: $light;
    color: $success;
}

.btn-link {
    color: inherit;
    background-color: none;
    border: 0px;
    padding: 0px;
    margin: 0px;
    height: auto;
}

.btn-icon {
    padding: 5px;
    height: 27px;
    margin: 0px;
    line-height: 0px;
}

.btn-block {
    width: -webkit-fill-available;
}