$border-width: $big-border;
$border-radius: $middle-border-radius;

.btn {
    font-family: inherit;
    border: $border-width solid $default;
    border-radius: $border-radius;
    margin: 4px;
    padding: 0px 17px;
    cursor: pointer;
    height: 50px;
    font-weight: bold;
    font-size: inherit;
    outline: none;
    background-color: transparent;
    color: $dark;
    transition: .2s;
}

.btn:focus:not(.btn-link) {
    @include shadow;
}

.btn:hover:not(.btn-link) {
    background-color: darken($color: $default, $amount: 5);
}

.btn-primary {
    background-color: $primary;
    border-color: $primary;
    color: $light;
}

.btn-primary:hover:not(.btn-link) {
    background-color: $light;
    color: $primary;
}

.btn-secondary {
    background-color: $secondary;
    border-color: $secondary;
    color: $light;
}

.btn-secondary:hover:not(.btn-link) {
    background-color: $light;
    color: $secondary;
}

.btn-warning {
    background-color: $warning;
    border-color: $warning;
    color: $light;
}

.btn-warning:hover:not(.btn-link) {
    background-color: $light;
    color: $warning;
}

.btn-danger {
    background-color: $danger;
    border-color: $danger;
    color: $light;
}

.btn-danger:hover:not(.btn-link) {
    background-color: $light;
    color: $danger;
}

.btn-success {
    background-color: $success;
    border-color: $success;
    color: $light;
}

.btn-success:hover:not(.btn-link) {
    background-color: $light;
    color: $success;
}

.btn-link {
    color: inherit;
    background-color: none;
    border: 0px;
    padding: 0px;
    margin: 0px;
    height: auto;
}

.btn-icon {
    padding: 5px;
    height: 27px;
    margin: 0px;
    line-height: 0px;
    // height: 20px;
}

.btn-block {
    width: -webkit-fill-available;
}