$background-header-light: $primary-color;
$background-body-light: darken($color: $light, $amount: 2);
$font-color-header-light: $light;
$font-color-body-light: $dark;

$background-header-dark: $primary-color;
$background-body-dark: lighten($color: $dark, $amount: 2);
$font-color-header-dark: $dark;
$font-color-body-dark: $light;
$border-color: darken($color: $background-header-light, $amount: 10);
$border-width: 3px;
$padding: $big-padding;

.card {
    border-radius: $middle-border-radius;
    margin: auto;
    margin-bottom: 20px;
    overflow: hidden;
}

.card.dark .card-header {
    color: $font-color-header-dark;
    background-color: $background-header-light;
}

.card.dark .card-body {
    color: $font-color-body-dark;
    background-color: $background-body-dark;
}


.card .card-header {
    color: $font-color-header-light;
    background-color: $background-header-light;
    font-weight: bold;
    padding: $padding;
    border-bottom: $border-width solid $border-color;
}

.card .card-body {
    color: $font-color-body-light;
    padding: $padding;
    background-color: $background-body-light;
}

