@mixin card-light { 
    background-color: $light5;
    @include color-dark;
}

@mixin card-dark { 
    background-color: $dark5;
    @include color-light;
}

.card {
    margin: auto;
    margin-bottom: 20px;
    overflow: hidden;
    @include card-light;
}

.card.dark {
    @include card-dark;
}

.card.dark .card-header {
    
}

.card.dark .card-body {

}


.card .card-header {
    font-weight: bold;
    @include padding;
}

.card .card-body {
    @include padding;
}

