@mixin checkbox-dark {
    & label::before {
        background-color: $dark-10;
        @include border-dark;
        border-radius: 8px;
    }
    & label::after {
        @include border-light;
        border-radius: 0px;
        border-top: none;
        border-right: none;
    }
    & input[type="checkbox"]:checked + label::before {
        background-color: $dark10;
    }
}

@mixin checkbox-light {
    & label::before {
        background-color: $light-10;
        @include border-light;
        border-radius: 8px;
    }
    & label::after {
        @include border-dark;
        border-radius: 0px;
        border-top: none;
        border-right: none;
    }
    & input[type="checkbox"]:checked + label::before {
        background-color: $light10;
    }
}

.checkbox {
    min-height: 30px;
    display: block;
    @include checkbox-light;
}

.checkbox.dark {
    @include checkbox-dark;
}

.checkbox input[type="checkbox"] {
    position: relative;
    outline: none;
    display: none;
}

.checkbox input[type="checkbox"]:focus + label::before {
    @include shadow;
}

.checkbox label::after,
.checkbox label::before {
    content: "";
    cursor: pointer;
}

.checkbox label::before {
    display: inline-block;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 0px;
    transition: box-shadow .35s;
}

.checkbox label::after {
    display: none;
    width: 12px;
    height: 8px;
    left: 5px;
    top: 5px;
    transform: rotate(-45deg);
    position: absolute;
}

.checkbox input[type="checkbox"] + label {       
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}

.checkbox input[type="checkbox"]:checked + label::after {
    display: block;
}

.checkbox input[type="checkbox"]:checked + label::before {
    background-color: $background-checked;
}