@mixin input-light {
    & input {
        @include border-light;
        background-color: $light-10;
        @include color-dark;
    }
    & label { @include color-dark; }
}
  
@mixin input-dark {
    & input {
        @include border-dark;
        background-color: $dark-10;
        @include color-light;
    }
    & label { @include color-light; }
}

.form-input {
    margin: -4px;
    margin-bottom: 20px;
    @include input-light;
}

.form-input.dark {
    @include input-dark;
}

.form-input label {
    margin: 0px 4px;
}

.form-input input {
    display: block;
    width: -webkit-fill-available;
    margin: 4px;
    padding: 0px 10px;
    height: 50px;
    outline: none;
    transition: box-shadow .35s;
}


.form-input .error {
    @include color-light;
    margin: 4px;
    border-radius: $middle-border-radius;
    background: #f04;
    li {
        padding: 10px;
    }
}

.form-input.dark .error {
    @include color-dark;
}

.form-input input:focus {
    @include shadow;
}

