$border-width: 3px;
$font-color: $dark;
$border-color: darken($color: $primary-color, $amount: 10);
$padding: $big-padding;
$padding-body: $middle-padding; 

.panel {
    color: $font-color;
    margin: 10px;
    border: $border-width solid $border-color;
    margin-bottom: 40px;
    padding: $padding;
}

.panel-header {
    padding-bottom: $padding;
    border-bottom: $border-width solid $border-color;
}

.panel-body {
    padding-top: $padding-body;
}
